 /* imports */
@import "./imports/_mixins.less";
@import "./imports/_grid.less";
@import "./imports/_variables.less";
@import "./imports/_fonts.less";


html {
  height: 100%;
}

body {
  background-color: #022A54;
  color:#ffffff;
  
  font-size: 19px;
  font-weight: 300;

  font-family: 'Roboto', sans-serif;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.img {
  display: block;

  &--responsive {
    width: 100%;
    height: auto;  
  }
}

.page {
  &__header {
   flex: 0 0 auto;
     @media @mobiles {
        padding-top: 0;
     }
  }

  &__main {
     flex: 1 0 auto;
     
     display: flex;
     align-items: center;
  }

  &__footer {
     flex: 0 0 auto;
  }  
}

.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 50px 70px;

    @media @mobiles {
      padding: 22px;
    }
  }
  &__title {
    color: rgba(255,255,255,.29);
    font-size: 20px;
    margin: 0;

    @media @mobiles {
      font-size: 16px;
    }
  }

  &__help {
    display: block;
    
    width: 40px;
    height: 40px;

    background-image: url('../img/facebook.svg');
    background-size: contain;
    background-repeat: no-repeat;

    @media @mobiles {
      width: 30px;
      height: 30px;
    }
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  
  font-family: 'Oswald', sans-serif;
  font-weight: 300;

  &__item {
    font-weight: normal;
    margin-bottom: 25px;
    font-size: 19px;

    &:last-child {
      margin-bottom: 0;
    }

    @media @mobiles {
      font-size: 16px;
      text-align: center;
      margin-bottom: 16px;
    }
  }
}



.contacts {
  text-align: center;
  
  &__title {
    margin: 0;
    span {
      display: block;
      line-height: 1.4;
    }
  }


  &__phone {
    padding: 35px 50px;
    display: inline-block;
    background-image: url('../img/phone.svg');
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;

    color:#ffffff;
    text-decoration: none;

    @media @mobiles {
      background: none;
      border-bottom: 1px solid #FF1933;
      padding: 15px 0;
    }
  }

  @media @mobiles {
    font-size: 12px;
    margin-bottom: 15px;
  }

}

.parallax {
  position: relative;

  &__layers {
    display: flex;
    flex-direction: row;
    justify-content: center;

    align-items:center;
    height: 100%;

    position: relative;
    z-index: 10;

    @media @mobiles {
      display: block;
      margin: 0 !important;
    }
  }

  &__abs{

      position: absolute;
      z-index: 0;

      @media @mobiles {
        display: none;
      }

    &--crown{
      top: -75px;
      left: 105px;      
      img{
        width: 200px;
      }
    }

    &--eye{
      top: -170px;
      left: 800px;
    }

  }


  height: 260px;

  @media @mobiles {
    height: auto;
  }

  &__part {

    &--logo {
      margin: 0 12px;
      
      @media @mobiles {
        margin: 26px 0;
      }
    }

    &--line {
      width: 1px;
      height: 98%;
      background-color: #ffffff;
      margin: 0 36px;

      @media @mobiles {
        display: none;
      }
    }

    &--list {

      @media @mobiles {
        border-left: none;
        padding-left: 0;

        border-top: 1px solid #ffffff;
        padding-top: 30px;

        margin-bottom: 58px;
      }
    }
  }


}


